.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: var(--nav-width);
  background: #030303;
  color: #efefef;
}

.icons {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.icons button {
  background: black;
  cursor: pointer;
  border: none;
}

.voice {
  cursor: pointer;
}

.voiceAnimating {
  /* change animation to box-shadow */
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
