.dock {
  /* background: ; */
  color: white;
  background-color: rgba(29, 29, 29, 0.6);
  /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4); */
  box-shadow: 0 40px 90px rgba(0, 0, 0, 0.6);
  width: 30vw;
  border-radius: 6px;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  backdrop-filter: blur(10px) saturate(120%);
}

.dockContainer {
  position: absolute;
  /* will-change: transform; */
  z-index: 3;
  padding: 1rem;
}

.musicContainer {
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
  gap: 20px;
  /* background-color: rgba(44, 44, 44, 0.6); */
}

.trackImage {
  position: relative;
  height: 100px;
  border-radius: 5px;
  width: auto;
  display: block;
  pointer-events: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  height: 32px;
  width: 32px;
  border: none;
  cursor: pointer;
}

.artistInfo {
  position: relative;
  line-height: 1.4;
  color: #efefef;
}

.trackName {
  font-size: 1.3rem;
  font-weight: 500;
}

.artistName {
  font-size: 1rem;
  font-weight: 400;
}

.artistInfo span {
  display: block;
}

.musicInfo {
  display: flex;
  height: 100%;
  flex-direction: column;

  justify-content: space-between;
}

.musicControls {
  display: flex;
  gap: 10px;
}

.playButton {
  composes: button;
}

.nextTrack {
  composes: button;
}

.prevTrack {
  composes: button;
}
